* {
    fill: none;
}

#background rect {
    fill: white;
}

#background {
    fill: white;
}

.catalog *, .stars * {
    fill: black;
    stroke: white;
}

#planets * {
    fill: black;
    stroke: gray;
}

#planets text {
    fill: black;
    stroke: none;
}

#Sun, #Moon {
    fill: black;
}

.tracks path {
    stroke: gray;
    stroke-width: 0.3;
}

.grid path {
    stroke: gray;
    stroke-width: 0.1;
}

#horizon path {
    stroke-width: 0.3;
}

.grid text, text {
    fill: black;
    font-size: 1mm;
    font-family: sans-serif;
}
