#background rect {
    fill: white;
}

#background {
    fill: white;
}

.stars {
    fill: black;
    stroke: white;
}

#planets circle {
    fill: red;
    stroke: blue;
}

#Sun, #Moon {
    fill: black;
}

path {
    fill: none;
}